[build]
  command = "npm run build"
  [[plugins]]
  package = "@netlify/plugin-nextjs"

[context.production.environment]
  NEXT_PUBLIC_SUPABASE_URL = "https://ieponcrmmetksukwvmtv.supabase.co"
  NEXT_PUBLIC_APP_URL = "https://luxeagent.netlify.app"

[functions]
  directory = "netlify/functions"
